*~
bin/*
Diplomski/*
!Diplomski/literatura.bib
!Diplomski/diplomski.tex
!Diplomski/fer.bst
!Diplomski/fer.cls
src/ns_guest/zynq/build/*
src/ns_guest/zynq/ns_guest.bin
src/ns_guest/zynq/ns_guest.elf
disassembly_LTZVisor.txt
disassembly_ns_guest.txt
**/*.o
